<!DOCTYPE html>
<html>
  <head>
    <title>F2e</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'main' %>    
  </head>

  <body>
    <div class="container" data-behavior="app">
      <%= yield %>
    </div>
  </body>
</html>
